In [164]:
# Question 1

a = 0
def b():     
    global a     
    a = c(a)  
def c(a):     
    return a + 2

b()
b()
b()
a

# variable a is assigned a value of 0. 
# Defined function b and made variable a global inside only of function b.
# Defined function c.
# b() is initially 0 and gets incremented by 2 with a+2. Another b() calls the function b and again it gets incremented by 2, that makes it 4.
# Finally, last b() gets another increment of 2 so that makes it total of 6.
# a prints the value 6 because value of b got stored in a.

6

In [169]:
# Question 2

def fileLength(filename):
    try:
        infile = open(filename, "r")
        contents = infile.read()
        infile.close()
        print(len(contents))
        
    except:
        print("File", filename, "not found.")

fileLength('example.txt')
fileLength('Jp.txt')

288
File Jp.txt not found.

In [166]:
# Question 3

class Marsupial:
    def __init__(self):
        self.pouch = []
        
    def put_in_pouch(self, item):
        self.pouch.append(item)
        
    def pouch_contents(self):
        return self.pouch

m = Marsupial()

m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
print(m.pouch_contents())

['doll', 'firetruck', 'kitten']

In [171]:
# Question 4

def collatz(x):
    
    if x == 1:
        print(x)
        
    elif x%2 == 0:
        print(x)
        collatz(x//2)
        
    else:
        print(x)
        collatz(3*x+1)

collatz(1)
collatz(10)

1
10
5
16
8
4
2
1

In [148]:
# Question 5

def binary(n):
    if n == 0:
        return "0"
    
    elif n == 1:
        return "1"
    
    else:
        return binary(n//2) + str(n%2)
    
print(binary(0))
print(binary(1))
print(binary(3))
print(binary(9))

0
1
11
1001

In [168]:
# Question 6

from html.parser import HTMLParser
class HeadingParser(HTMLParser):
  
    def __init__(self):
        super().__init__()
        self.x = []
        self.y = {'h1': 0, 'h2': 1, 'h3': 2, 'h4': 3, 'h5': 4, 'h6': 5}

    def handle_starttag(self, tag, attrs):
        if tag in self.y:
            level = self.y[tag]
            if self.x and level <= self.x[-1]:
                self.x.pop()
            self.x.append(level)

    def handle_endtag(self, tag):
        if tag in self.y:
            self.x.pop()

    def handle_data(self, data):
        if self.x:
            indentation = self.x[-1]
            print(' ' * indentation, data.strip())

infile = open('w3c.html')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

 W3C Mission
  Principles

In [154]:
# Question 7

import requests
from bs4 import BeautifulSoup

def webdir(url, depth, indent):
    print(" "*indent + url)
    
    if depth == 0:
         return
        
    x = requests.get(url)
    html = x.content
    soup = BeautifulSoup(html, 'html.parser')
    links = soup.find_all('a')

    for link in links:
        href = link.get('href')
        if href.startswith('http'):
            webdir(href, depth-1, indent+4)

webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)

http://reed.cs.depaul.edu/lperkovic/csc242/test1.html

In [161]:
# Question 8

import sqlite3

with sqlite3.connect('weather_A3.db') as conn:
    c = conn.cursor()
    c.execute('''CREATE TABLE Weather_Tble
                   (city TEXT, country TEXT, season TEXT, temp REAL, rain REAL)''')

data = [('Mumbai', 'India', 'Winter', 24.8, 5.9),
        ('Mumbai', 'India', 'Spring', 28.4, 16.2),
        ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
        ('Mumbai', 'India', 'Fall', 27.6, 346.0),
        ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
        ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
        ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
        ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
        ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
        ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
        ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
        ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

with sqlite3.connect('weather_A3.db') as conn:
    c = conn.cursor()
    c.executemany("INSERT INTO Weather_Tble VALUES (?, ?, ?, ?, ?)", data)
conn.commit()

In [162]:
c.execute('SELECT temp FROM Weather_Tble')
for row in c:
    print(row)
print()
    
c.execute('SELECT DISTINCT city FROM Weather_Tble')
for row in c:
    print(row)
print()

c.execute('SELECT * FROM Weather_Tble WHERE country="India"')
for row in c:
    print(row)
print()

c.execute('SELECT * FROM Weather_Tble WHERE season = "Fall"')
for row in c:
    print(row)
print()

c.execute('SELECT city, country, Season FROM Weather_Tble GROUP BY city, country, Season HAVING AVG(rain) BETWEEN 200 AND 400')
for row in c:
    print(row)
print()

c.execute('SELECT city, country FROM Weather_Tble WHERE season = "Fall" GROUP BY city, country HAVING AVG(temp) > 20 ORDER BY AVG(temp) ASC')
for row in c:
    print(row)
print()

c.execute('SELECT SUM(rain) AS Total_Rainfall FROM Weather_Tble WHERE city = "Cairo"')
for row in c:
    print(row)
print()

c.execute('SELECT season, SUM(rain) AS Total_Rainfall FROM Weather_Tble GROUP BY season')
for row in c:
    print(row)
print()

(24.8,)
(28.4,)
(27.9,)
(27.6,)
(4.2,)
(8.3,)
(15.7,)
(10.4,)
(13.6,)
(20.7,)
(27.7,)
(22.2,)

('Mumbai',)
('London',)
('Cairo',)

('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)

('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

('London', 'United Kingdom', 'Fall')
('London', 'United Kingdom', 'Winter')
('Mumbai', 'India', 'Fall')

('Cairo', 'Egypt')
('Mumbai', 'India')

(27.6,)

('Fall', 569.0)
('Spring', 192.29999999999998)
('Summer', 1706.5)
('Winter', 230.1)

In [167]:
# Question 9

words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'] 

a = [spell.upper() for spell in words]
print(a)
print()

b = [spell.lower() for spell in words]
print(b)
print()

c = [len(spell) for spell in words]
print(c)
print()

d = [[spell.upper(), spell.lower(), len(spell)] for spell in words]
print(d)
print()

e = [spell for spell in words if len(spell) > 3]
print(e)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

[3, 5, 5, 3, 5, 4, 3, 4, 3]

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

['quick', 'brown', 'jumps', 'over', 'lazy']